snippet module-exports-function
	module.exports = function ${1}(${2}){
		${3}
	};
snippet exports-function
	exports.${1:#paramName} = function ${2}(${3}){
		${4}
	};
snippet exports-value
	exports.${1:paramName} = ${2:value}
snippet fs-readFileSync-toString
	fs.readFileSync(__dirname + "/${1}").toString()${2}
