snippet WhenStep
	this.When(/^${1:pattern}$/, function ${2:functionName}(${3}callback){
		${4}
	});
snippet ThenStep
	this.Then(/^${1:pattern}$/, function ${2:functionName}(${3}callback){
		${4}
	});
snippet GivenStep
	this.Given(/^${1:pattern}$/, function ${2:functionName}(${3}callback){
		${4}
	});
