#ES6 Import
snippet import
	import ${1} from "${2:./}"

#ES6 Import
snippet imp
	import ${1} from "${2}"

#ES6 classes
snippet class
	class ${1} {
		${2}
	}

#ES6 classes
snippet cls
	class ${1} {
		${2}
	}

snippet export
	export ${1:default} ${2}
