snippet html5
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>${1:Title}<</title>
  </head>
  <body>
		${2}
  </body>
</html>
endsnippet
snippet stylesheet
<link rel="stylesheet" href="${1}" />
endsnippet
snippet script
<script src="${1}"></script>
endsnippet
