snippet classdefault
	export default class ${1} {
		${2}
	}
snippet interfacedefault
	interface ${1} {
		${2}
	}
	export default $1
snippet import
	import ${1} from "${2}"
snippet reference
	/// <reference path="${1}" />
