snippet func
function(${1}) {
	${2}
}
endsnippet
snippet funcuse
function(${1}) use (${2}){
	${3}
}
endsnippet
snippet ret
return ${1};
endsnippet
snippet return
return ${1};
endsnippet
snippet phpwithfileclass
<?php

class ${1}
{
	${2}
}
endsnippet
snippet phpwithfileclassnamespace
<?php

namespace ${1};


class ${2}
{
	${3}
}
endsnippet
