#ES6 Import
snippet import
import ${2} from "${1}";
endsnippet

#ES6 Import
snippet imp
import ${1} from "${2}"
endsnippet

#ES6 classes
snippet class
class ${1} {
	${2}
}
endsnippet

#ES6 classes
snippet cls
class ${1} {
	${2}
}
endsnippet

snippet export
export ${1:default} ${2}
endsnippet
