snippet func
function ${1}(${2}){
	${4:functionDefinition}
}${3:;}
endsnippet
snippet iife
(function ${1}(${2}){
	${4}
}(${3:}));
endsnippet

snippet /**
/**
 * @description ${0:description}
 *
 * ${1}
 */
endsnippet
